* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

h1, h2 {
    font-family: Lora, 'Times New Roman', Times, serif;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.mainContainer {
    background-image: url(https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: center;
    background-color: rgba(40, 36, 32, 0.5);
    background-blend-mode: darken;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blurContainer {
    backdrop-filter: blur(3px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: min(1000px, 80vw);
    gap: 32px;
}
